/vendor/

/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/settings.local.php
/web/sites/*/settings.ddev.php
/web/sites/default/services.local.yml

.phpunit.result.cache
/web/sites/simpletest/
