<footer class="app-footer">
  <div class="footer-content">
    <span>Made with</span>

    <span class="footer-tech" data-tooltip="Drupal">
      <i class="icon-app-drupal" aria-hidden="true"></i>
      <span class="visually-hidden">
        Drupal
      </span>
    </span>

    <span>+</span>

    <span class="footer-tech" data-tooltip="Angular">
      <i class="icon-app-angular" aria-hidden="true"></i>
      <span class="visually-hidden">
        Angular
      </span>
    </span>

    <span>+</span>

    <span class="footer-tech" data-tooltip="Love">
      <i class="icon-app-heart" aria-hidden="true"></i>
      <span class="visually-hidden">
        Love
      </span>
    </span>

    @if (email(); as email) {
    by
    <app-email-actions [email]="email" />
    }
    <span aria-hidden="true">
      ·
    </span>

    <app-privacy-actions />
  </div>
</footer>
