::highlight(search-occurrence) {
  background-color: rgb(244 143 177 / 30%);
  color: inherit;
}

::highlight(selected-search-occurrence) {
  background-color: rgb(244 143 177 / 75%);
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
