:host {
  display: block;
}

.search-results-panel {
  box-sizing: border-box;

  width: calc(100% - 2rem);
  height: 100%;

  overflow-y: auto;

  background-color: var(--color-background);
  margin: 1rem;
  padding: 1rem;
  // Ripristina l'interazione, disabilitata
  // sull'host dell'overlay.
  pointer-events: auto;
}

.search-query {
  color: var(--color-primary);
  font-size: 1.3rem;
}

.search-result-group {
  border-bottom: solid 1px color-mix(in srgb,
      var(--color-text) 35%,
      white);
}

.search-result-group h2 {
  color: var(--color-primary);
}

.search-result-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result-group li {
  margin: 0;
}

.search-result-group li:hover {
  background-color: color-mix(in srgb,
      var(--color-background) 5%,
      #ddd);

}

.search-result-group li a {
  text-decoration: none;
}

.search-result-code {
  white-space: pre-wrap;
  font-family: monospace;
}

.search-result-source {
  font-size: 0.875em;
  font-weight: 600;
}
