:host {
  display: block;
}

.sidebar {
  box-sizing: border-box;

  position: sticky;
  top: var(--app-header-height);

  width: 18rem;

  max-height: calc(
    100dvh - var(--app-header-height)
  );

  overflow-y: auto;
}

.sidebar--collapsed {
  width: 4rem;
}

summary {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.sidebar--collapsed summary {
  justify-content: center;
}

.sidebar-toggle {
  display: block;
  margin-inline: auto;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo-image {
  display: block;
  width: 7rem;
  max-width: 100%;
  height: auto;
  transition: width 0.2s ease;
}

.sidebar--collapsed .sidebar-logo-image {
  width: 2.5rem;
}
