:host {
  display: block;
  height: 100%;
}

.sidebar {
  box-sizing: border-box;
  width: 18rem;
  height: 100%;
}

.sidebar--collapsed {
  width: 4rem;
}

summary {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.sidebar--collapsed summary {
  justify-content: center;
}

.sidebar-toggle {
  display: block;
  margin-inline: auto;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
